In [0]:
flight_df = spark.read.format("csv")\
            .option("header","false")\
            .option("inferschema","false")\
            .option("mode","FAILFAST")\
            .load("/FileStore/tables/flight_data-1.csv")
flight_df.show(5)

+-----------------+-------------------+-----+
|              _c0|                _c1|  _c2|
+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
flight_df_header = spark.read.format("csv")\
            .option("header","true")\
            .option("inferschema","false")\
            .option("mode","FAILFAST")\
            .load("/FileStore/tables/flight_data-1.csv")
flight_df_header.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
flight_df_header.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: string (nullable = true)

In [0]:
flight_df_header_schema = spark.read.format("csv")\
            .option("header","true")\
            .option("inferschema","true")\
            .option("mode","FAILFAST")\
            .load("/FileStore/tables/flight_data-1.csv")
flight_df_header_schema.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
flight_df_header_schema.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [0]:
flight_df_header_schema = spark.read.format("csv")\
            .option("header","false")\
            .option("inferschema","false")\
            .schema(my_schema)\
            .option("mode","FAILFAST")\
            .load("/FileStore/tables/flight_data-1.csv")
flight_df_header_schema.show(5)

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-1025550678366259>:4
      1 flight_df_header_schema = spark.read.format("csv")\
      2             .option("header","false")\
      3             .option("inferschema","false")\
----> 4             .schema(my_schema)\
      5             .option("mode","FAILFAST")\
      6             .load("/FileStore/tables/flight_data-1.csv")
      7 flight_df_header_schema.show(5)

NameError: name 'my_schema' is not defined

In [0]:
from pyspark.sql.types import StructField,StructType,IntegerType,StringType

In [0]:
my_schema = StructType(
                       [
                           StructField("DEST_COUNTRY_NAME",StringType(),True),
                           StructField("ORIGIN_COUNTRY_NAME",StringType(),True),
                           StructField("count",IntegerType(),True)
                       ]
)

In [0]:
flight_df_header_schema = spark.read.format("csv")\
            .option("header","false")\
            .option("skipRows",3)\
            .option("inferschema","false")\
            .schema(my_schema)\
            .option("mode","PERMISSIVE")\
            .load("/FileStore/tables/flight_data-1.csv")
flight_df_header_schema.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
%fs
ls /FileStore/tables/

path,name,size,modificationTime
dbfs:/FileStore/tables/flight_data-1.csv,flight_data-1.csv,7080,1739862984000
dbfs:/FileStore/tables/flight_data.csv,flight_data.csv,7080,1739862515000